.pokemonType {
  width: 135px;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 5px;

  /* background-color: #8c898f; */

  color: #fff;
  text-align: center;
  text-transform: capitalize;
  filter: brightness(0.9);
}
