.rock {
  background-color: #37363a;
}
.ghost {
  background-color: #544974;
}
.electric {
  background-color: #f9d030;
}
.bug {
  background-color: #f8be68;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #a7a877;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #f08030;
}
.grass {
  background-color: #78c84f;
}
.water {
  background-color: #6890f0;
}
.flying {
  background-color: #a890f0;
}
.ground {
  background-color: #c4ac43;
}
.fighting {
  background-color: #ff9900ee;
}
.psychic {
  background-color: #f0564b;
}
.ice {
  background-color: #4fcdff;
}
.dragon {
  background-color: #53b9d8;
}
.dark {
  background-color: #003249;
}
.steel {
  background-color: #696969;
}
