.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100vw;
  min-height: 100vh;

  background-color: #fff7e8;
}

.appContainer {
  width: 1080px;
}

.appHeader {
  margin-left: 30px;
}

.pokemonContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
