html {
    --toggle: hsl(230deg 17% 85%);
    --bgcolor: none;
    --colorPrimary: #000;
    --filterHeading: #000;
    --selectBg: #fff;
    --selectText: #000;
  }
  
  html[data-theme="dark"] {
    --toggle: linear-gradient(90deg, hsl(216deg 52% 48%), hsl(51deg 100% 60%));
    --bggradient: none;
    --bgcolor: #16171f;
    --colorPrimary: #fff;
    --filterHeading: #707384;
    --selectBg: #16171f;
    --selectText: #707384;
  }
  
.app__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: -webkit-fill-available;
    width: -moz-available;
    margin-top: 5vh;
  }
.poke__logos {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

.poke__logo {
    margin-top: 10px;
    margin-left: 50px;
    width: 15vw;
    max-width: 300px;
    -webkit-filter: drop-shadow(5px 0px 0px rgba(0, 0, 0, 0.6));
    filter: drop-shadow(5px 0px 0px rgba(0, 0, 0, 0.6));
  }

  .switch {
    display: flex;
    align-items: center;
  }
  
  .switch .label {
    flex: 1;
    line-height: 30px;
  }
  
  .switch .toggle {
    position: relative;
  }
  
  .switch .toggle label {
    position: absolute;
    display: inline-block;
    width: 65px;
    height: 30px;
    z-index: 1;
    border-radius: inherit;
    cursor: pointer;
  }
  
  .switch .toggle input {
    display: none;
  }
  
  .switch .toggle-bg {
    margin-left: auto;
    width: 65px;
    height: 30px;
    border-radius: 30px;
    background: var(--toggle);
  }
  
  .switch .toggle-thumb {
    position: absolute;
    top: 2px;
    left: 3px;
  }
  
  .switch .toggle-thumb i {
    color: var(--textPri);
    font-size: 1.1rem;
    padding: 0.25rem;
    border-radius: 50%;
    background: var(--mainBg);
    box-shadow: inset 0 0 7px var(--cardBg);
  }
  
  .switch .toggle-thumb .fa-sun {
    opacity: 0;
    z-index: 1;
    transform: translateX(1px);
    transition: all 0.5s;
  }
  
  .switch .toggle-thumb .fa-moon {
    opacity: 1;
    transform: translateX(-30px);
    transition: all 0.55s;
  }
  
  .switch .toggle input[type="checkbox"]:checked ~ .toggle-thumb .fa-sun {
    opacity: 1;
    z-index: -1;
    transform: translateX(34px);
  }
  
  .switch .toggle input[type="checkbox"]:checked ~ .toggle-thumb .fa-moon {
    opacity: 0;
    transform: translateX(4px);
  }
  .switch {
  
    margin: 0 6vw;
  }
  




  @media screen and (max-width: 767px) {
    .app__header{
        display: flex;
        align-items: center;
        justify-content: space;
        flex-direction: column;
        width: -webkit-fill-available;
        width: -moz-available;
        margin-top: 5vh;
      }
    
    .poke__logo {
        width: 67vw;
        margin-top: 5px;
        margin-bottom: 30px;
        margin-left: auto;
        -webkit-filter: drop-shadow(5px 0px 0px rgba(0, 0, 0, 0.6));
        filter: drop-shadow(5px 0px 0px rgba(0, 0, 0, 0.6));
      }
      .switch{
        width:auto;
      }
  }
